<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="sortBtn(field,text)">
    <a th:if="${!@thymeleafUtils.sortField(field)}"
       class="text-white"
       th:href="@{${#httpServletRequest.requestURI}(
                       size=${#httpServletRequest.getParameter('size')},
                       sort=${field+',desc'}
                       )}">[[${text}]]</a>
    <a th:if="${@thymeleafUtils.sortField(field)}"
       class="text-white"
       th:href="@{${#httpServletRequest.requestURI}(
                       size=${#httpServletRequest.getParameter('size')},
                       sort=${@thymeleafUtils.reverseSort()}
                       )}">[[${text}]]</a>
    <span th:if="${@thymeleafUtils.sortField(field)}"
          th:class="${@thymeleafUtils.isAsc() ? 'fas fa-sort-up' : 'fas fa-sort-down'}"></span>
</th:block>
</html>