<!DOCTYPE html>
<html th:replace="~{layout/layout::layout(~{::title},~{::section})}" lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home - Antte Admin</title>
</head>
<body>
<section>
    <div>
        <h2>사용자 관리</h2>
        <a th:href="@{/admin/users/new}">새 사용자 생성</a>
        &nbsp;|&nbsp;
        <a th:href="@{/admin/users/export/csv}">CSV로 내보내기</a>
        &nbsp;|&nbsp;
        <a th:href="@{/admin/users/export/xlsx}">Excel로 내보내기</a>
        <div th:if="${message != null}" class="alert alert-success text-center" th:text="${message}"></div>
    </div>
    <div>
        <form th:action="|@{/admin/users}${@thymeleafUtils.pageParameter(0,null,null,null)}|" class="form-inline m-3">
            필터:&nbsp; <input type="search" name="keyword" th:value="${#request.getParameter('keyword')}"
                             class="form-control" required/>
            &nbsp;&nbsp;
            <input type="submit" value="검색" class="btn btn-primary">
            &nbsp;&nbsp;
            <input type="button" onclick="clearFilter()" value="지우기" class="btn btn-secondary">
        </form>
    </div>
    <div>
        <table class="table table-bordered table-striped table-hover table-responsive-xl">
            <thead class="thead-dark">
            <tr>
                <th>
                    <div th:replace="/layout/fragment/sortBtn::sortBtn('id','사용자 ID')"></div>
                </th>
                <th>사진</th>
                <th>
                    <div th:replace="/layout/fragment/sortBtn::sortBtn('email','이메일')"></div>
                </th>
                <th>
                    <div th:replace="/layout/fragment/sortBtn::sortBtn('lastName','이름')"></div>
                </th>
                <th>
                    <div th:replace="/layout/fragment/sortBtn::sortBtn('firstName','성')"></div>
                </th>
                <th>역할</th>
                <th>
                    <div th:replace="/layout/fragment/sortBtn::sortBtn('enabled','활성화됨')"></div>
                </th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${users}" th:object="${user}">
                <td th:text="*{id}"></td>
                <td>
                    <i th:if="*{photos == null}" class="fas fa-portrait fa-3x icon-silver"></i>
                    <img th:unless="*{photos == null}" th:src="@{'/'+*{photos.path}}" style="width: 100px"/>
                </td>
                <td th:text="*{email}"></td>
                <td th:text="*{lastName}"></td>
                <td th:text="*{firstName}"></td>
                <td th:text="*{displayRole()}"></td>
                <td>
                    <a th:classappend="${user.enabled ? 'icon-green fa-check-circle' : 'icon-gray fa-circle'}"
                       th:title="${user.enabled}? '사용자 비활성화' : '사용자 활성화'"
                       class="fas fa-2x "
                       th:href="@{/admin/users/{id}/enabled(id=*{id},status=*{!enabled})}"></a>
                </td>
                <td><a class="fas fa-edit fa-2x icon-green" th:href="@{/admin/users/{id}/update(id=*{id})}"></a>
                    &nbsp;
                    <a class="fas fa-trash fa-2x icon-dark link-delete"
                       th:href="@{/admin/users/{id}/delete(id=*{id})}"
                       th:userId="*{id}" title="이 사용자 삭제"></a>
                </td>
            </tr>
            </tbody>
        </table>
        <div>
            <div class="text-center m-1">
                <span th:if="${pageInfo == null}">사용자를 찾을 수 없음</span>
            </div>
            <nav th:replace="/layout/fragment/navigation::navigation(${pageInfo})" aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <script th:inline="javascript">
        $(document).ready(function () {
            $(".link-delete").on("click", function (e) {
                e.preventDefault();
                let link = $(this);
                const userId = link.attr("userId");
                confirmModal("경고", `이 사용자 ID ${userId}을 삭제하시겠습니까?`, e => {
                    window.location.href = link.attr("href");
                });
            });
        })

        function clearFilter() {
            window.location = /*[[${@thymeleafUtils.pageUri(0,'',null,null)}]]*/"";
        }
    </script>
</section>
</body>
</html>